th, td {
    padding:10px;
}

th {
    background: #606060;
    color: white;
}

td {
    background: #b5b5b5;
}

button {
    margin-top: 15px;
}

.delete {
    colo: black;
    transition: color 0.2s else-in;
}
.delete:hover {
    color: red;
}